PORT=8080
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb://127.0.0.1:27017/educore
JWT_SECRET=your_random_secret_key_here
JWT_EXPIRES_IN=7d

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
