PORT=8080
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb://127.0.0.1:27017/educore
JWT_SECRET=educore_super_secret
JWT_EXPIRES_IN=7d
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
